extends ./layout/index

block contenido 
    main.container.mt-5 
        .row.align-items-center 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen nosotros" class="img-fluid")
            .col-md-7
                h1= pagina 
                blockquote Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat laudantium tempore sed eius animi aspernatur, quidem maxime totam. Quo eligendi laboriosam aliquid autem rem ipsa sapiente culpa distinctio magnam alias?

                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea mollitia quaerat sed dicta asperiores ullam autem. Voluptatibus earum maxime iste quisquam minus! Ipsum iste quis cum porro, quam inventore consectetur.

                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque molestias officia delectus vitae, nesciunt quis. Mollitia dignissimos soluta sunt enim placeat cumque iste ab dolor saepe recusandae. Aspernatur, incidunt maiores?
    
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos 
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                

    
                
